<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
    a{
    background-colo: red;
    }
    .button {
      background-color: black;
      border: none;
      color: white;
      padding: 15px 32px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      margin: 4px 70px;
      cursor: pointer;
    }
</style>
</head>
<body>
    <img src="./img/carro.jpg">
        <div style="background-color: #FFFF00;padding: 200px 300px">
        <div style="text-align: center;">
            <h1>entrada de usuario:</h1>
            <b>login: &nbsp</b><input id="login" type="text"></input>
            <br><br><b>senha: </b><input id="password, "type="text"></input>
            <br><button class="button">Button</button>
        </div></div></span>
</body>
</html>
