<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>/Login</title>
</head>
<body>
    <div style="background-color: #FFFF00;padding: 200px 300px">
        <div style="text-align: center;">
        <form action="/login" method="POST" name="multipart/form-data" style="background-color: cyan;padding: 100px" >
            <p><label for="login">Login:</label>
            <input type="text" name="login" id="fname"></p>

            <p><label for="senha">Senha:</label>
            <input type="text" name="password" id="lname"></p>

            <input value="Submit" type="submit" onclick="submitform()">
        </form>
    </div></div>
    <form action="/home" method="GET">
        <input value="pagina principal" type="submit">
    </form>
</body>
</html>
