<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>/Login</title>
    link'content-type': 'application/json'
</head>
<body>
    <form action="/logout" method="RAW_POST_DATA" name="Authorization">
        <p><label for="Authorization">Token:</label>
        <input type="text" name='{"Authorization": "Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpYXQiOjE1Njg2NDU0NDQsIm5iZiI6MTU2ODY0NTQ0NCwianRpIjoiZDMyNmEyMmQtOTgyOS00YjU4LTkxNWItZGY4MGM1YjIzZjM4IiwiZXhwIjoxNTY4NjQ1NzQ0LCJpZGVudGl0eSI6NiwiZnJlc2giOmZhbHNlLCJ0eXBlIjoiYWNjZXNzIiwidXNlcl9jbGFpbXMiOiJqb2FvIn0.2bFWNoP_ZBRtlH1kk2RNQiODM8vsD9BR7oaE0MnkYA8"}' value='' id="Authorization"></p>

        <input value="Submit" type="submit">
    </form>
</body>
</html>
