<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>/Main_page</title>
</head>
<body>
<div style="background-color: #FFFF00;padding: 200px 300px">
        <div style="text-align: center;">
            <div style="background-color: cyan;padding: 100px ">
            <form action="/user" method="GET" name="Authorization">
                <input value="ver: usuarios" type="submit">
            </form>
            <br>

            <form action="/cadastro" method="GET" name="Authorization">
                <input value="se cadastrar" type="submit">
            </form>
            <br>

            <form action="/login" method="GET" name="Authorization">
                <input value="logar na conta" type="submit">
            </form>
            <br></div></div></div>

</body>
</html>